body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
    padding: 3px;
}
section{
    overflow: hidden;
    padding: 50px;
}
.top-banner{
    background-image: url("imgs/top-banner.png");
    background-repeat: no-repeat;

}
.half-width{
    width: 40%;
    float: left;
    padding-left: 2%;
    margin-left: 5%;
}

.orange-highlight{
    color: orange;
}
.half-width img{
    max-width: 110%;
    height: auto;
}

.link-button{
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
    display: inline-block;
    margin-top: 10px;
    background: linear-gradient(to right, tomato, rgb(230, 35, 35));
}
.bottom-banner{
    background-image: url("imgs/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.experiences{
    background-image: url("imgs/exp-bg.png");
    background-repeat: no-repeat;
    background-position: 0% 70%;
}
.single{
    box-shadow: 10px 10px 40px gray;
    height: 380px;
    border-radius: 5px;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice: 1;
    height: auto;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    height: auto;
}

footer p{
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    padding: 20px;
}
